@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table {
      @apply w-full table-auto border-collapse;
    }
  
    th, td {
      @apply border border-gray-700 px-4 py-2;
    }
  
    th {
      @apply bg-gray-900 text-white font-semibold text-center;
    }
  
    tr:nth-child(even) {
      @apply bg-gray-200;
    }
  
    tr:nth-child(odd) {
      @apply bg-white;
    }
  
    tr:hover {
      @apply bg-blue-100;
    }
  
    td {
      @apply text-gray-700 text-center; /* Center-align content */
    }
  
    a.btn {
      @apply bg-blue-500 text-white px-4 py-2 rounded shadow-md hover:bg-blue-700;
    }
  
    /* Responsive styles for small screens */
    @media (max-width: 768px) {
      table thead {
        display: none;
      }
  
      table, tbody, tr, td {
        @apply block w-96 max-w-full;
      }
  
      tr {
        @apply border-b border-gray-300 mb-4;
      }
  
      td {
        @apply relative block  py-4; /* Adjust padding for better spacing */
      text-align: right;
      }
  
      td:before {
        content: attr(data-label);
        @apply absolute left-0 top-1 text-gray-500 font-semibold ;
        padding-left: 15px; /* Align with text content */
        text-align: right
      }
  
      td {
        @apply text-gray-900 font-medium ;
      }
    }
  }
  
